---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: traefik

helmCharts:
  - name: traefik
    repo: https://helm.traefik.io/traefik
    version: 32.1.1
    releaseName: traefik
    namespace: traefik
    valuesFile: values-base.yaml
