---
# Base Traefik configuration
# Based on TechnoTim guide: https://technotim.com/posts/kube-traefik-cert-manager-le/

additionalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"
  - "--serversTransport.insecureSkipVerify=true"
  - "--log.level=INFO"
  - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
  - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
  - "--entrypoints.websecure.http.tls=true"

deployment:
  enabled: true
  replicas: 1
  annotations: {}
  podAnnotations: {}

ports:
  web:
    port: 8000
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 8443
    exposedPort: 443
    protocol: TCP

ingressRoute:
  dashboard:
    enabled: false

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-external
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      enabled: false

rbac:
  enabled: true

service:
  enabled: true
  type: LoadBalancer
  annotations: {}
  labels: {}
